$screen-width: 100%;


#header-container {
border: 1px solid black;
display: flex;
}

#website-name-container {
border: 1px solid blue;
float: left;
width: calc($screen-width/2);

}

#website-name {
font-weight: bold;
font-family: Arial;
font-size: 40px;
}

nav {
border: 1px solid red;
}

ol {
justify-content: space-between;
}

.links-bar a {
text-decoration: none;
 }

.link {
  padding: 3px;
}

